/* You can add global styles to this file, and also import other style files */
/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");

$primary-color: #294a4a;
$disabled-color: #b5c7c7;
$background-color: #fcfcfc;

:root {
  --container-max-width: 500px;
  --primary-color: $primary-color;
  --disabled-color: $disabled-color;
  --background-color: $background-color;
}

* {
  box-sizing: border-box;
}
html {
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  color: var(--primary-color);
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--background-color);
}

body {
  min-height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  margin: 0;
  padding: 2rem 2rem 0 2rem;
}
h1,
h2 {
  font-size: 1.83rem;
  font-weight: 500;
  letter-spacing: -0.02em;
  margin: 0;
  padding-bottom: 3em;
}
p {
  letter-spacing: -0.01em;
}
ul {
  margin: 0;
}
a,
.btn,
.input-text {
  color: var(--primary-color);
}
.btn,
.input-text {
  background-color: transparent;
  border: 2px solid var(--primary-color);
  box-sizing: border-box;
  border-radius: 5px;
  min-width: 210px;
  padding: 0.6rem 2.5rem;
}
.btn {
  align-items: center;
  display: inline-flex;
  font-size: 1rem;
  justify-content: center;
  text-transform: uppercase;
  cursor: pointer;
}
.btn:hover {
  background-color: lighten($color: $primary-color, $amount: 75%);
}
.input-group {
  .btn {
    box-sizing: border-box;
    border-radius: 5px 0px 0px 5px;
  }
  .input-text {
    box-sizing: border-box;
    border-radius: 0px 5px 5px 0px;
    margin-left: -2px;
    min-width: calc(98% - 200px);
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: calc(0.6rem + 4px);
  }
}

.container {
  margin-left: auto;
  margin-right: auto;
  height: calc(100vh - 16rem);
}
.row {
  display: block;
  padding-bottom: 1rem;
}
.primary {
  background-color: $primary-color;
  color: $background-color;
}
.primary:hover {
  background-color: darken($color: $primary-color, $amount: 4%);
  border-color: darken($color: $primary-color, $amount: 4%);
}
.mt-0 {
  margin-top: 0;
}
.mt-1 {
  margin-top: 1rem;
}
.mt-2 {
  margin-top: 2rem;
}
.mb-0 {
  margin-bottom: 0;
}
.mb-1 {
  margin-bottom: 1rem;
}
.mb-2 {
  margin-bottom: 2rem;
}
.text-align-center {
  text-align: center;
}
:disabled {
  cursor: default;
}
.btn:disabled {
  background-color: $background-color;
  border-color: $disabled-color;
  color: $disabled-color;
  path {
    fill: $disabled-color;
  }
}
.btn.primary:disabled {
  background-color: $disabled-color;
  border-color: $disabled-color;
  color: $background-color;
  path {
    fill: $background-color;
  }
}
.input-text:disabled {
  border-color: $disabled-color;
  color: $disabled-color;
}
.buttons-container {
  align-items: center;
  bottom: 0;
  display: flex;
  justify-content: space-evenly;
  left: 0;
  height: 6rem;
  position: fixed;
  width: 100%;
}
.buttons-container,
.buttons-container .btn {
  background-color: $primary-color;
  color: $background-color;
}
.buttons-container .btn {
  border-color: transparent;
  flex-direction: column;
  flex-wrap: wrap;
}
.buttons-container .btn svg {
  margin-right: 0.3em;
}
.buttons-container .btn:hover {
  border-color: transparent;
}
ul {
  height: calc(100% - 11rem);
  list-style-type: none;
  padding-top: 2.5rem;
  min-width: 100%;
  padding-left: calc(16px + 0.7rem);
}
ul li {
  padding-bottom: 1em;
}
.files-container {
  height: 100%;
  min-width: 100%;
  padding-right: 1rem;
  overflow-y: auto;
}

@media screen and (min-width: 768px) {
  .container {
    height: calc(100vh - 16rem);
  }
  .container,
  .buttons-container {
    max-width: var(--container-max-width);
  }
  .buttons-container {
    bottom: 8rem;
    justify-content: space-between;
    left: calc(50% - calc(var(--container-max-width) / 2));
    position: fixed;
  }

  .buttons-container,
  .buttons-container .btn {
    background-color: transparent;
  }
  .buttons-container .btn {
    border-color: $primary-color;
    color: $primary-color;
  }
  .buttons-container .btn:hover {
    background-color: lighten($color: $primary-color, $amount: 70%);
    border-color: darken($color: $primary-color, $amount: 4%);
    color: darken($color: $primary-color, $amount: 4%);
  }
  .buttons-container .btn svg path {
    fill: $primary-color;
  }
  .buttons-container .btn:hover svg path {
    fill: darken($color: $primary-color, $amount: 4%);
  }
  .buttons-container .primary {
    background-color: $primary-color;
    color: $background-color;
  }
  .buttons-container .primary:hover {
    background-color: darken($color: $primary-color, $amount: 4%);
    border-color: darken($color: $primary-color, $amount: 4%);
    color: $background-color;
  }
  .buttons-container .primary svg path {
    fill: $background-color;
  }
  .buttons-container .primary:hover svg path {
    fill: $background-color;
  }
  .buttons-container .btn {
    flex-direction: initial;
    flex-wrap: initial;
  }
}
