/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap");

:root {
  --container-max-width: 600px;
  --primary-color: #294a4a;
  --danger-color: #eb5757;
  --disabled-color: #b5c7c7;
  --background-color: #fcfcfc;
  --darken: brightness(0.92);
  --lighten: brightness(1.7);
}

* {
  box-sizing: border-box;
}

html {
  font-family: "Roboto", sans-serif;
  font-size: 11px;
  font-weight: 400;
  color: var(--primary-color);
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--background-color);
}

body {
  min-height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0 2rem;
  padding-top: 4rem;
}
h1,
h2 {
  font-size: 1.83rem;
  font-weight: 500;
  letter-spacing: -0.02em;
  margin: 0;
  padding-bottom: 1.5em;
}
p {
  font-weight: 300;
  letter-spacing: -0.01em;
}
a,
.btn,
.input-text {
  color: var(--primary-color);
  font-weight: 400;
}
.btn,
.input-text {
  background-color: transparent;
  border: 1px solid var(--primary-color);
  box-sizing: border-box;
  border-radius: 5px;
  min-width: 210px;
  padding: 0.6rem 2.5rem;
}
.btn {
  display: inline-flex;
  align-items: center;
  justify-content: flex-start;
  text-transform: uppercase;
  cursor: pointer;
}
.btn:not([disabled]):hover {
  filter: var(--lighten);
}
.input-group {
  .btn {
    box-sizing: border-box;
    border-radius: 5px 0px 0px 5px;
  }
  .input-text {
    box-sizing: border-box;
    border-radius: 0px 5px 5px 0px;
    margin-left: -1px;
    min-width: calc(98% - 200px);
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: calc(0.6rem + 4px);
  }
}

.container {
  max-width: var(--container-max-width);
  margin-left: auto;
  margin-right: auto;
  min-height: 100%;
}
.row {
  display: block;
  margin-bottom: 1rem;
}
.primary {
  background-color: var(--primary-color);
  border-color: var(--primary-color);
}
.danger {
  background-color: var(--danger-color);
  border-color: var(--danger-color);
}
.primary,
.danger {
  color: var(--background-color);
}
.primary:not([disabled]):hover,
.danger:not([disabled]):hover {
  filter: var(--darken);
}
.mt-0 {
  margin-top: 0;
}
.mt-1 {
  margin-top: 1rem;
}
.mt-2 {
  margin-top: 2rem;
}
.mb-0 {
  margin-bottom: 0;
}
.mb-1 {
  margin-bottom: 1rem;
}
.mb-2 {
  margin-bottom: 2rem;
}
.text-align-center {
  text-align: center;
}
:disabled {
  cursor: default;
}
.btn:disabled {
  background-color: var(--background-color);
  border-color: var(--disabled-color);
  color: var(--disabled-color);
  path {
    fill: var(--disabled-color);
  }
}
.btn.primary:disabled {
  background-color: var(--disabled-color);
  border-color: var(--disabled-color);
  color: var(--background-color);
  path {
    fill: var(--background-color);
  }
}
.input-text:disabled {
  border-color: var(--disabled-color);
  color: var(--disabled-color);
}
