:root {
  --body-bg: whitesmoke;
  --primary: dodgerblue;
  --border-radius: 3px;
  --sans-serif: sans-serif;
}

* {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  align-items: center;
  background-color: var(--body-bg);
  display: flex;
  height: 100%;
  justify-content: center;
  margin: 0;
}
