:host {
  display: block;
  width: 100%;
}
.clickable {
  cursor: pointer;
  display: inline-block;
  width: calc(100% - 30px);
  overflow: hidden;
}
.check {
  cursor: pointer;
  float: right;
}
.check:hover path {
  fill: var(--primary-color);
}
.icon {
  display: inline-block;
  margin-right: 7px;
}
p {
  display: inline-block;
  margin: 0;
  max-width: calc(100% - 45px);
  overflow: hidden;
  position: relative;
  text-overflow: ellipsis;
  white-space: nowrap;
}
