:host {
  display: block;
  width: 100%;
}
.clickable {
  cursor: pointer;
  display: inline-block;
  min-width: 50%;
  max-width: calc(100% - 30px);
  overflow: hidden;
}
.check {
  float: right;
}
.icon {
  display: inline-block;
  margin-right: 0.7rem;
}
p {
  display: inline-block;
  margin: 0;
  max-width: calc(100% - 15px);
  overflow: hidden;
  position: relative;
}
