:host {
  position: absolute;
  font-size: 1rem;
  bottom: 1rem;
  left: calc(50% - 8em);
}
svg {
  margin-bottom: -4px;
}
a {
  cursor: pointer;
  text-decoration: underline;
}
p {
  font-weight: 400;
}
